Checks: >
  bugprone-*,
  performance-*,
  readability-identifier-naming,
  clang-analyzer-*,
  -clang-analyzer-cplusplus*     # C++専用チェックを除外
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*jo_engine).*$'
CheckOptions:
  # グローバル変数/ファイルスコープ変数名は snake_case, g_ を付ける
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           lower_case
  - key:             readability-identifier-naming.GlobalVariablePrefix
    value:           g_

  # ローカル変数名は snake_case
  - key:             readability-identifier-naming.LocalVariableCase
    value:           lower_case

  # 関数名は camelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack

  # struct は tagCamelCase
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.StructPrefix
    value:           tag

  # typedef は CamelCase
  - key:             readability-identifier-naming.TypedefCase
    value:           CamelCase

  # 定数・列挙体・型名など（必要に応じて調整）
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.TypeCase
    value:           CamelCase
